# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# Jupyter Notebook Checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit Cache
# -----------------------------
.streamlit/cache/

# -----------------------------
# Python Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.temp

# Large generated model
movie-recommendation-system/models/similarity.pkl